<ng-container *ngIf="areDataValid(countryStats)">

    <h4 *ngIf="displayHeading" class="center">Stats:</h4>
  
    <mat-table class="stats-table" [dataSource]="dataSource">
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="population">
        <mat-header-cell *matHeaderCellDef> Population </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.population}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="gdp">
        <mat-header-cell *matHeaderCellDef> GPD </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.gdp}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
  </ng-container>